<section>
    <div class="container mt-4">


        <div class="row row-cols-1 row-cols-md-4 g-3">
            {{#each courses}}
            <div class="col">
                <div class="card h-100">
                    <img src="/course-images/{{this._id}}.png" class="card-img-top " style="max-width:95vh; height:10rem;"
                        alt="course-profile">
                    <div class="card-body">
                        <h5 class="card-title">{{this.course}}</h5>
                        <p class="card-text">{{this.about}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" style="height: ; width:70%;"> Price :<b> {{this.price}}/.
                            </b></a>
                        <a href="#" class="btn btn-primary" style="width: 28%;"> <b> get</b></a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</section>